<section class="admin-section--table position-relative">
    @if (state() === 'loading') {
        <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() !== 'error') {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
                    </svg>
                    Danh sách hình thức đào tạo
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <input [(ngModel)]="_search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()">
                    <button (click)="deleteSelectedRows()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-button-danger-gradient" mat-flat-button aria-label="Xóa các mục đã chọn">
                        <i class="ti ti-trash"></i>
                    </button>
                    <button (click)="addNewItem()" mat-flat-button class="btn ictu-badge-btn--success-reverse" aria-label="Thêm hình thức đào tạo">
                        <i class="ti ti-plus"></i>
                    </button>
                </div>
            </div>
            <div class="admin-wrap-table__body">
                <table class="tbl admin-table table-hover">
                    <thead>
                        <tr>
                            <th class="col-checkbox">
                                <mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length"></mat-checkbox>
                            </th>
                            <th class="col-index text-center">#</th>
                            <th class="wid-150 text-center">Mã hình thức</th>
                            <th class="text-left">Tên hình thức đào tạo</th>
                            <th class="text-left">Mô tả</th>
                            <th class="wid-90 text-center px-0">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of dataTable.data(); track row.id; let i = $index) {
                            <tr>
                                <td class="col-checkbox">
                                    <mat-checkbox [checked]="row._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)"></mat-checkbox>
                                </td>
                                <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                <td class="wid-150 text-center">{{ row.code }}</td>
                                <td class="text-left font-weight-500">{{ row.name }}</td>
                                <td class="text-left">{{ row.description || '—' }}</td>
                                <td class="p-0 wid-90">
                                    <div class="admin-table__btn-actions">
                                        <button (click)="editRow(row)" class="btn ictu-button-info-light" aria-label="Sửa">
                                            <i class="ti ti-edit"></i>
                                        </button>
                                        <button (click)="deleteRow(row)" class="btn ictu-button-danger-light" aria-label="Xóa">
                                            <i class="ti ti-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        } @empty {
                            <tr>
                                <td colspan="6" class="text-center p-3">Không có bản ghi nào.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="admin-wrap-table__foot">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                </div>
            </div>
        } @else {
            <div class="admin-table__alert-danger text-center w-100">
                Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        }
    </div>
</section>

<p-drawer #pDrawer [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'500px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
    <div class="ictu-p-drawer__content position-relative">
        @if (formControl.enableLoading()) {
            <app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
        }
        <div class="ictu-p-drawer__content__body position-relative">
            @switch (formControl.state()) {
                @case ('READY') {
                    <form [formGroup]="formControl.formGroup">
                        <div class="ictu-form ictu-form--label-on-top">
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_name">Tên hình thức đào tạo</label>
                                <input class="ictu-form__input-field" formControlName="name" id="f_name" pInputText placeholder="Nhập tên hình thức đào tạo" type="text">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_code">Mã hình thức</label>
                                <input class="ictu-form__input-field" formControlName="code" id="f_code" pInputText placeholder="Nhập mã hình thức" type="text" style="text-transform: uppercase;">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label" for="f_description">Mô tả</label>
                                <textarea class="ictu-form__input-field" formControlName="description" id="f_description" pTextarea placeholder="Thêm mô tả" rows="4"></textarea>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
        <div class="ictu-p-drawer__content__footer">
            <button (click)="submitForm()" [disabled]="formControl.formGroup.invalid || formControl.enableLoading()" class="btn ictu-badge-btn--success-reverse" mat-flat-button>Lưu lại</button>
            <button (click)="formControl.closeForm()" class="btn ictu-badge-btn--secondary-reverse" mat-flat-button>Hủy</button>
        </div>
    </div>
</p-drawer>
