<section class="admin-section--table position-relative">
    @if (state() === 'loading') {
        <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() !== 'error') {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
                    </svg>
                    Danh sách lớp quản lý
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <p-select
                        [options]="listDonVi"
                        [(ngModel)]="selectedDonViId"
                        optionLabel="title"
                        optionValue="id"
                        placeholder="-- Tất cả khoa --"
                        [showClear]="true"
                        (onChange)="onChangeFilter()"
                    ></p-select>
                    <p-select
                        [options]="listKhoa"
                        [(ngModel)]="selectedKhoa"
                        placeholder="-- Tất cả khóa --"
                        [showClear]="true"
                        (onChange)="onChangeFilter()"
                    ></p-select>
                    <p-select
                        [options]="listNganh"
                        [(ngModel)]="selectedNganhId"
                        optionLabel="title"
                        optionValue="id"
                        placeholder="-- Tất cả ngành --"
                        [showClear]="true"
                        (onChange)="onChangeFilter()"
                    ></p-select>
                    <input [(ngModel)]="_search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()">
                    <button (click)="deleteSelectedRows()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-button-danger-gradient" mat-flat-button aria-label="Xóa các lớp đã chọn">
                        <i class="ti ti-trash"></i>
                    </button>
                    <button (click)="addNewItem()" mat-flat-button class="btn ictu-badge-btn--success-reverse" aria-label="Thêm lớp quản lý">
                        <i class="ti ti-plus"></i>
                    </button>
                </div>
            </div>
            <div class="admin-wrap-table__body">
                <table class="tbl admin-table table-hover">
                    <thead>
                        <tr>
                            <th class="col-checkbox">
                                <mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length"></mat-checkbox>
                            </th>
                            <th class="col-index text-center">#</th>
                            <th class="wid-130 text-center">Ký hiệu</th>
                            <th class="text-left">Tên lớp quản lý</th>
                            <th class="wid-120 text-center">Khóa</th>
                            <th class="text-left">Ngành</th>
                            <th class="text-left">Khoa</th>
                            <th class="wid-90 text-center px-0">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of dataTable.data(); track row.id; let i = $index) {
                            <tr>
                                <td class="col-checkbox">
                                    <mat-checkbox [checked]="row._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)"></mat-checkbox>
                                </td>
                                <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                <td class="wid-130 text-center">{{ row.kyhieu || '—' }}</td>
                                <td class="text-left font-weight-500">{{ row.title }}</td>
                                <td class="wid-120 text-center">{{ row.khoa }}</td>
                                <td class="text-left">{{ row._nganh_converted || '—' }}</td>
                                <td class="text-left">{{ row._donvi_converted || '—' }}</td>
                                <td class="p-0 wid-90">
                                    <div class="admin-table__btn-actions">
                                        <button (click)="editRow(row)" class="btn ictu-button-info-light" aria-label="Sửa">
                                            <i class="ti ti-edit"></i>
                                        </button>
                                        <button (click)="deleteRow(row)" class="btn ictu-button-danger-light" aria-label="Xóa">
                                            <i class="ti ti-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        } @empty {
                            <tr>
                                <td colspan="8" class="text-center p-3">Không có bản ghi nào.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="admin-wrap-table__foot">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                </div>
            </div>
        } @else {
            <div class="admin-table__alert-danger text-center w-100">
                Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        }
    </div>
</section>

<p-drawer #pDrawer [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'500px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
    <div class="ictu-p-drawer__content position-relative">
        @if (formControl.enableLoading()) {
            <app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
        }
        <div class="ictu-p-drawer__content__body position-relative">
            @switch (formControl.state()) {
                @case ('READY') {
                    <form [formGroup]="formControl.formGroup">
                        <div class="ictu-form ictu-form--label-on-top">
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_donvi">Khoa</label>
                                <p-select [options]="listDonVi" appendTo="body" class="ictu-form__input-field" formControlName="donvi_id" inputId="f_donvi" optionLabel="title" optionValue="id" placeholder="-- Chọn khoa --"></p-select>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_nganh">Ngành học</label>
                                <p-select [options]="listNganh" appendTo="body" class="ictu-form__input-field" formControlName="nganh_id" inputId="f_nganh" optionLabel="title" optionValue="id" placeholder="-- Chọn ngành học --"></p-select>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_khoa">Khóa</label>
                                <input class="ictu-form__input-field" formControlName="khoa" id="f_khoa" pInputText placeholder="Ví dụ: 20, 21, 22" type="text">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_kyhieu">Ký hiệu lớp</label>
                                <input class="ictu-form__input-field" formControlName="kyhieu" id="f_kyhieu" pInputText placeholder="Ví dụ: CNTT" type="text" style="text-transform: uppercase;">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_title">Tên lớp quản lý</label>
                                <input class="ictu-form__input-field" formControlName="title" id="f_title" pInputText placeholder="Nhập tên lớp quản lý" type="text">
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
        <div class="ictu-p-drawer__content__footer">
            <button (click)="submitForm()" [disabled]="formControl.formGroup.invalid || formControl.enableLoading()" class="btn ictu-badge-btn--success-reverse" mat-flat-button>Lưu lại</button>
            <button (click)="formControl.closeForm()" class="btn ictu-badge-btn--secondary-reverse" mat-flat-button>Hủy</button>
        </div>
    </div>
</p-drawer>
