<section class="admin-section--table position-relative">
    @if (state() === 'loading') {
        <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() !== 'error') {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
                    </svg>
                    Danh sách ngành
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <p-select
                        [options]="dmDonviChuyenmon"
                        [(ngModel)]="selectedDonviId"
                        optionLabel="title"
                        optionValue="id"
                        placeholder="-- Tất cả đơn vị --"
                                                [showClear]="true"
                        (onChange)="onChangeDonvi($event.value)"
                    ></p-select>
                    <input [(ngModel)]="_search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()">
                    <button (click)="deleteSelectedRows()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-button-danger-gradient" mat-flat-button>
                        <i class="ti ti-trash"></i>
                    </button>
                    <button (click)="addNewItem()" mat-flat-button class="btn ictu-badge-btn--success-reverse">
                        <i class="ti ti-plus"></i>
                    </button>
                </div>
            </div>
            <div class="admin-wrap-table__body">
                <table class="tbl admin-table table-hover">
                    <thead>
                        <tr>
                            <th class="col-checkbox">
                                <mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length"></mat-checkbox>
                            </th>
                            <th class="col-index text-center">#</th>
                            <th class="wid-120 text-center">Mã ngành</th>
                            <th class="text-left">Tên ngành</th>
                            <th class="text-left">Khoa</th>
                            <th class="text-left">Hệ đào tạo</th>
                            <th class="text-left">Mô tả</th>
                            <th class="wid-90 text-center px-0">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of dataTable.data(); track row.id; let i = $index) {
                            <tr>
                                <td class="col-checkbox">
                                    <mat-checkbox [checked]="row._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)"></mat-checkbox>
                                </td>
                                <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                <td class="wid-120 text-center">{{ row.code }}</td>
                                <td class="text-left font-weight-500">{{ row.title }}</td>
                                <td class="text-left">{{ row.khoa || '—' }}</td>
                                <td class="text-left">{{ row.training_mode || '—' }}</td>
                                <td class="text-left">{{ row.desc || '—' }}</td>
                                <td class="p-0 wid-90">
                                    <div class="admin-table__btn-actions">
                                        <button (click)="editRow(row)" class="btn ictu-button-info-light" aria-label="Sửa">
                                            <i class="ti ti-edit"></i>
                                        </button>
                                        <button (click)="deleteRow(row)" class="btn ictu-button-danger-light" aria-label="Xóa">
                                            <i class="ti ti-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        } @empty {
                            <tr>
                                <td colspan="8" class="text-center p-3">Không có bản ghi nào.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="admin-wrap-table__foot">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                </div>
            </div>
        } @else {
            <div class="admin-table__alert-danger text-center w-100">
                Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        }
    </div>
</section>

<p-drawer #pDrawer [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'500px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
    <div class="ictu-p-drawer__content position-relative">
        @if (formControl.enableLoading()) {
            <app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
        }
        <div class="ictu-p-drawer__content__body position-relative">
            @switch (formControl.state()) {
                @case ('READY') {
                    <form [formGroup]="formControl.formGroup">
                        <div class="ictu-form ictu-form--label-on-top">
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_donvi">Khoa / Đơn vị chuyên môn</label>
                                <p-select [options]="dmDonviChuyenmon" appendTo="body" class="ictu-form__input-field" formControlName="donvi_chuyenmon_id" optionLabel="title" optionValue="id" placeholder="-- Chọn khoa --" panelStyleClass="danh-muc-select-panel"></p-select>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_training_mode">Hệ đào tạo</label>
                                <p-select [options]="dmTrainingMode" appendTo="body" class="ictu-form__input-field" formControlName="training_mode_id" inputId="f_training_mode" optionLabel="name" optionValue="id" placeholder="-- Chọn hệ đào tạo --"></p-select>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_title">Tên ngành</label>
                                <input class="ictu-form__input-field" formControlName="title" id="f_title" pInputText placeholder="Nhập tên ngành" type="text" (focusout)="onChangeTitle()">
                                @if (!slugIsValid) {
                                    <small class="text-danger d-block mt-1">Tên ngành đã tồn tại trong hệ thống.</small>
                                }
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_code">Mã ngành</label>
                                <input class="ictu-form__input-field" formControlName="code" id="f_code" pInputText placeholder="Nhập mã ngành" type="text" style="text-transform: uppercase;">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label" for="f_desc">Mô tả</label>
                                <textarea class="ictu-form__input-field" formControlName="desc" id="f_desc" pTextarea placeholder="Thêm mô tả cho ngành" rows="4"></textarea>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
        <div class="ictu-p-drawer__content__footer">
            <button (click)="submitForm()" [disabled]="formControl.formGroup.invalid || !slugIsValid" class="btn ictu-badge-btn--success-reverse" mat-flat-button>Lưu lại</button>
            <button (click)="formControl.closeForm()" class="btn ictu-badge-btn--secondary-reverse" mat-flat-button>Hủy</button>
        </div>
    </div>
</p-drawer>
